
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainAdminLayout.cshtml";
}
    <div class="container">
     <div class="row panel panel-info col-md-offset-0 col-lg-12">
                    <div class="table">
                        <div class="panel-heading" style="width:100%;">
                            <div class="panel-title title-area" style="text-align:center;">
                                <h2 class="title">REGISTERED US<span>ERS - DATA LIST</span></h2>

                            </div>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-success p-3 mb-4" onclick="PopupForm('@Url.Action("AddOrEdit","TeamList")')" style="color:white;"><i class="fa fa-plus"></i> Register New</a>
                            <a class="btn btn-primary p-3 mb-4" href="@Url.Action("ExcelSheet","TeamList")"><i class="fa fa-table"></i> Export Excel</a>
                            <table id="MyDataTable" class="table table-striped table-responsive pageResize table-bordered table-hover nowrap" cellspacing="0" style="width:100%;margin-top: 10px;margin-left:0px;">
                                <thead>
                                    <tr>
                                        @*<th class="dt-checkboxes-select-all sorting_disabled" style="background-color:#333;color:whitesmoke;width:13px;" colspan="1" align="center"><input type="checkbox" id="checkAll" style="width:35px;" /></th>*@
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center"> Name</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Contact</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Team Name</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Adress</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Visa Status</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">NoC Certified</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Description</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Verified</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Subscription</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Admin</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Current Activation Code</th>
                                        <th style="background-color:#333;color:whitesmoke;width:auto;" align="center">Update Here</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    @*<div class="panel-footer" style="width:100%;text-align:center;">
                        <h4>Update User Profile or Add New Registration Here</h4>
                        <p>
                            <button href="@Url.Action("EmailSend","TeamList")">Submit</button>
                            <input type="submit" onclick="ChkValues()" name="check" />
                        </p>
                        <b>Data submit to server: </b><br>
                        <pre id="example-console"></pre>
                    </div>*@
                </div>
                    </div>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
    .alert-minimalist {
        background-color: rgb(241, 242, 240);
        border-color: rgba(149, 149, 149, 0.3);
        border-radius: 3px;
        color: rgb(149, 149, 149);
        padding: 10px;
    }

        .alert-minimalist > [data-notify="icon"] {
            height: 50px;
            margin-right: 12px;
        }

        .alert-minimalist > [data-notify="title"] {
            color: rgb(51, 51, 51);
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .alert-minimalist > [data-notify="message"] {
            font-size: 80%;
        }
</style>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/2cbe1f059c.js"></script>
<script>
    var Popup, dataTable,chkinit;
    $(document).ready(function () {
        //$('#MyDataTable').DataTable();
        GetTeams();
        setInterval(function () {
            $('#MyDataTable').dataTable().fnDestroy();
            GetTeams();
        }, 35000);
    })
    var GetTeams = function () {
        $.ajax({
            type: "Get",
            url: "/TeamList/GetTeams",
            success: function (response) {
                BindDataTable(response);

            }
        })
    }

    var BindDataTable = function (response) {
        $('#MyDataTable').DataTable({
            "title": "Registerd Users Data",
            "paging": true,
            "bDestroy": true,
            "selecting": true,
            "multiselect": true,
            "processing": true,
            "scrollX": true,
            "dom": 'Bfrtip',
            "aaData": response,
            "aoColumns": [
            //{
            //    "mData": "UserID",
            //    "render": function FName(UserID, type, full, meta)
            //    {
            //        return '<input type="checkbox" class="checkitem" value="' + full.UserID + '">';
            //    },
            //    "orderable": false,
            //    "searchable": false,
            //    "width": "50px"
            //},
                {
                    "mData": "FirstName",
                    "render": function FName(FirstName, type, full, meta) {
                        return full.FirstName +" "+full.LastName;
                    }
                },
                {
                    "mData": "EmailID",
                    "render": function (EmailID, type, full, meta) {
                        return '<a onclick="AddOrEdit(' + full.EmailID + ')"><i class="glyphicon glyphicon-envelope" style="color:black;"></i> ' + full.EmailID + '</a><br/><a><i class="glyphicon glyphicon-phone-alt" style="color:black;"></i> ' + full.ContactNo + '</a>'
                    }
                },
                {
                    "mData": "DateOfBirth",
                    "render": function ToJavaScriptDate(DateOfBirth, type, full, meta) {
                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(DateOfBirth);
                        var dt = new Date(parseFloat(results[1]));
                        return '<a><i class="glyphicon glyphicon-calendar" style="color:black;"></i> ' + (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + '</a><br/><p><i class="glyphicon glyphicon-blackboard" style="color:black;"></i> ' + full.TeamName + '</p>';
                    }
                },
                {
                    "mData": "AddresL",

                    "render": function Address(AddresL, type, full, meta) {
                        return '<p><i class="glyphicon glyphicon-credit-card" style="color:black;"></i><strong>Address Line 1 :</strong><br/>' + full.AddresL + '<br/><br/><strong>Street Name :</strong><br/>' + full.Street + '<br/><br/><strong>City: </strong>' + full.CityName + ' <strong>State: </strong>' + full.Provinance + '<br/><br/><strong>Pincode: </strong>' + full.Pincode + ' <strong>Country: </strong>' + full.CountryName + '</p>';
                    }
                },
                {
                    "mData": "Visachk",
                    "render": function chkvisa(Visachk, type, full, meta) {
                        if (!full.Visachk) {
                            return '<a href="#" onclick="sendUpdate(' + full.UserID + ')" style="color:red;"><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red;"></i> No-Visa</a>'
                        }
                        else {
                            return '<a href="#" onclick="sendUpdate(' + full.UserID + ')"><i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i> Approved Visa</a>'
                        }
                    }
                },
                {
                    "mData": "Nocchk",
                    "render": function chknoc(Nocchk, type, full, meta) {
                        if (!full.Nocchk) {
                            return '<a href="#" onclick="sendUpdate(' + full.UserID + ')" style="color:red;"><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red;"></i> No-NoC</a>'
                        }
                        else {
                            return '<a href="#" onclick="sendUpdate(' + full.UserID + ')"><i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i> Certified</a>'
                        }
                    }
                },
                { "mData": "Decscript" },
                {
                    "mDate": "IsEmailVerified",
                    "render": function chktruef(IsEmailVerified, type, full, meta) {
                        if (!full.IsEmailVerified) {
                            return '<a href="#" onclick="AddOrEdit(' + IsEmailVerified + ')" style="color:red;"><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red;"></i> Fake</a>'
                        }
                        else {
                            return '<a href="#" onclick="AddOrEdit(' + IsEmailVerified + ')"><i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i> Verified</a>'
                        }
                    }
                },
                {
                    "mData": "SubEmail",
                    "render": function chkt(SubEmail, type, full, meta) {

                        if (!full.SubEmail) {
                            return '<a href="#" onclick="AddOrEdit(' + SubEmail + ')" style="color:red;"><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red;"></i> Not-Check</a>'
                        }
                        else {
                            return '<a href="#" onclick="AddOrEdit(' + SubEmail + ')"><i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i> Subscribe</a>'
                        }
                    }
                },
                {
                    "mData": "AdminType",
                    "render": function cchkf(AdminType, type, full, meta) {

                        if (!full.AdminType) {
                            return '<a href="#" onclick="AddOrEdit(' + AdminType + ')" style="color:red;"><i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red;"></i> Not-Master</a>'
                        }
                        else {
                            return '<a href="#" onclick="AddOrEdit(' + AdminType + ')"><i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i> Admin</a>'
                        }
                    }
                },
                {
                    "mData": "ActivationCode",
                    "render": function Code(ActivationCode, type, full, meta) {
                        return full.ActivationCode;
                    }

                },
                {
                    "mData": "UserID",
                    "render": function (UserID, type, full, meta)
                    {

                        return '<a class="btn btn-primary" href="/TeamList/Edit?id=' + UserID + '" style="width:85px;padding-left:2px;"><i class="glyphicon glyphicon-pencil"></i> Edit  </a> <a class="btn btn-danger" onclick="Delete(' + UserID + ')" style="color:white;"><i class="glyphicon glyphicon-trash"></i> Delete</a>'
                    },                    "orderable": false,
                    "searchable":false,
                    "width":"250px"
                },
            ],
            "language": {
                "emptyTable": "No Data found , Please click on <b> Register New<b> Button"
            },

        })
        $("#checkAll").click(function () {
            $(".checkitem").prop('checked',
                $(this).prop('checked'));
        });

        

        var tableset = document.getElementById('MyDataTable_wrapper');
        tableset.className = "table-responsive dataTables_wrapper form-inline dt-bootstrap no-footer";
        tableset.style.width = "1060px";
    }

    function ChkValues() {
        //alert('mahi');
        //var multipalchk;
        var oTable = $('#MyDataTable').dataTable();
        var rowcollection = oTable.$(".checkitem:checked", { "page": "all" });
        rowcollection.each(function (index, elem) {
            var checkbox_value = $(elem).val();

        });
        $.ajax({
            type: "GET",
            url: '@Url.Action("EmailUpdate", "TeamList")/' + checkbox_value,
            success: function (checkbox_value) {
                if(checkbox_value.success)
                {
                    $.notify('@ViewBag.Message', "success");
                } else
                {
                    $.notify('@ViewBag.Message', "warn");
                }
            }
        })
    }

    function sendUpdate(UserID) {
        $.ajax({
            type: "Get",
            url: '/TeamList/EmailUpdate?id=' + UserID,
            success: function (UserID) {
                if (UserID.success) {
                    $.notify(UserID.message, "success");
                } else {
                    $.notify(UserID.message, "warn");
                }
            }
        })
    }

    function Delete(UserID) {
        if (confirm('Are You Sure to Delete this User and data Record?')) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "TeamList")/'+UserID,
                success: function (UserID) {
                    if(UserID.success)
                    {
                        $.notify(UserID.messgae, "success");
                        GetTeams();
                    }
                    else {
                        $.notify(UserID.messgae, "warn");
                    }
                }

            })
        }
    }

    function Edit(UserID) {
        $.ajax({
            type: "Get",
            url: "/TeamList/Edit?id=" + UserID,
            success: function(UserID) {
                if (UserID.success) {
                    $.notify(UserID.message, "success");
                }
                else {
                    $.notify(UserID.message, "warn");
                }
            }
        })
    }
    function PopupForm(url) {
        var formDiv = $('<div/>');
        $.get(url)
        .done(function (response) {
            formDiv.html(response);

            Popup = formDiv.dialog({
                autoOpen: true,
                resizable: false,
                title: 'Fill Form',
                height: 400,
                width: 600,
                success: function () {
                    if (UserId.success) {
                        $.notify("@ViewBag.Message", "success");
                        GetTeams();
                    }
                    else {
                        $.notify("@ViewBag.Message", "success");
                    }
                },
                close: function () {
                    Popup.dialog('destroy').remove();
                    $.notify("Form is closed", "success");
                }
            })
        })
    }
    var noti = $.notify({
        // option
        icon: 'glyphicon glyphicon-pushpin',
        title: '<strong>@ViewBag.status</strong> ',
        message: '<p style="color:black;">@ViewBag.Message</p>',
        url: '/TeamList/Index',
        target: '_blank'
    }, {
        // settings
        element: 'body',
        type: "success",
        allow_dismiss: true,
        placement: {
            from: "top",
            align: "center"
        },
        offset: 20,
        spacing: 10,
        z_index: 1031,
        delay: 5000,
        timer: 1000,
        url_target: '_blank',
        animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
        },

        icon_type: 'images',
        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                '<span data-notify="icon"></span> ' +
                '<span data-notify="title">{1}</span> ' +
                '<span data-notify="message">{2}</span>' +
            '</div>',

    });
</script>
<script>
    $(document).ready(function () {

        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });

        $("#delete").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/TeamList/Delete";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });
    });
</script>
<script>
    $(document).ready(function () {
        var sidenav = document.querySelector('.side-nav');
        sidenav.style.color = "white";
    });
</script>